<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} WOMaaS</title>
    <link rel="stylesheet" href="/static/pure-min.css">
    <link rel="stylesheet" href="/static/wosaas.css">
</head>
<body>
<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#">WOMaaS</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/t" class="pure-menu-link">Status</a></li>
                <li class="pure-menu-item"><a href="/o" class="pure-menu-link">Objects</a></li>
                <li class="pure-menu-item"><a href="/h" class="pure-menu-link">Help</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>WOMaaS</h1>
            <h2>{% block pagetitle %}{% endblock %}</h2>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>

<!--
vim: ts=4 expandtab
-->
