{% extends "base.html" %}
{% block content %}
<p>
<form action="/s" method="post" enctype="multipart/form-data" style="padding: 2px; border: 1px solid #ccc; width: 500px; margin: 0 auto;">
        <input type="file" name="upload" class="pure-button" style="width: 395px;">
        <input type="submit" class="pure-button pure-button-primary" name="html" value="Upload" style="width: 100px;">
</form>
</p>
<p style="text-align: center;">
<img src="http://i.giphy.com/ToMjGpohsHI02mXvC80.gif">
</p>
{% endblock %}
