{% extends "base.html" %}
{% block title %}Object List &middot; {% endblock %}
{% block pagetitle %}Object List{% endblock %}
{% block content %}
<p style="text-align: center;">
<img src="http://i.giphy.com/9aLFsE3tDWf4c.gif">
</p>
<table class="pure-table pure-table-striped pure-table-bordered" style="width: 100%;">
	<tr>
		<th>Object Name</th>
		<th>Size</th>
		<th>Committed</th>
	</tr>
	{% for obj in objs %}
	<tr>
		<td><a href="/o/{{obj[0]}}"><tt>{{ obj[0] }}</tt></a></td>
		<td>{{ obj[1] }}</td>
		<td>{{ obj[7] }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
